p This network is for network infrastructure only. Beyond the firewall/router, the only devices on the Management network should be ethernet switches and access points.
p The management network is designed to use specific IP address groups:
ul.mb-0
  li.text-nowrap <code>192.168.1.010</code> &ndash; <code>192.168.1.019</code>: Aggregation Switches
  li.text-nowrap <code>192.168.1.030</code> &ndash; <code>192.168.1.059</code>: Primary Access Switches
  li.text-nowrap <code>192.168.1.060</code> &ndash; <code>192.168.1.099</code>: Secondary Access Switches
  li.text-nowrap <code>192.168.1.100</code> &ndash; <code>192.168.1.129</code>: Wireless Access Points
  li.text-nowrap <code>192.168.1.240</code> &ndash; <code>192.168.1.250</code>: Emergency Backup Netgear Switches