.row
  .col-12.mt-3
    .bg-dark.text-light.p-3.rounded.shadow-sm.fw-700 Can now have specific user home pages. Create partial in <code>/app/views/users/user_home_pages/</code>. Template file should be named <code>_username.html.slim</code>.
  .col-12.col-md-3.mt-3 = render "shared/home_page_widgets/promised_today"