p style="margin-bottom: 1rem;" = "#{@note.requested_by_user.name}:"
p style="margin-bottom: 1rem;" = "On #{@note.created_at.strftime("%m/%d/%y")} you created the following receiving priority note:"
blockquote style="margin-bottom: 1rem; border-left: 1px solid #cccccc; padding-left: 1rem; margin-left: 0; font-style: italic !important; color: #555 important;" = simple_format @note.request_details
p style="margin-bottom: 1rem;" == "<strong>#{@note.completed_by_user.name}</strong> marked this item complete on #{@note.completed_at.strftime("%m/%d/%y at %l:%M%P")}."