li.nav-item = primary_nav_link "search", "Final Inspection Entry", vcms_quality_final_inspect_path
li.nav-item = primary_nav_link "search", "Completed Final Inspection", vcms_quality_final_inspect_completed_path
li.nav-item = primary_nav_link "search", "Jobs on Receipt", vcms_production_jobs_on_receipt_path
li.nav-item = primary_nav_link "search", "Promise List", vcms_shipping_promise_list_path