<h1>Editing Groov Bake Shop Order</h1>

<%= render 'form', groov_bake_shop_order: @groov_bake_shop_order %>

<%= link_to 'Show', @groov_bake_shop_order %> |
<%= link_to 'Back', groov_bake_shop_orders_path %>
