<h1>Editing Quality Calibration Calibration</h1>

<%= render 'form', quality_calibration_calibration: @calibration %>

<%= link_to 'Show', @calibration %> |
<%= link_to 'Back', quality_calibration_calibrations_path %>
