.row.mt-3
  .col-12
    = render partial: "shared/homepage_link_box", locals: { title: "Global Shortcuts",
                                                            links: [{ url: "http://mail.varland.com",
                                                                      title: "Email",
                                                                      icon: "envelope",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "red" },
                                                                    { url: vacation_calendars_url,
                                                                      title: "Vacation<br>Calendars",
                                                                      icon: "calendar-alt",
                                                                      icon_type: "fas",
                                                                      new_tab: false,
                                                                      color: "blue" },
                                                                    { url: "https://drive.google.com/drive/u/0/shared-drives",
                                                                      title: "Shared<br>Drives",
                                                                      icon: "google-drive",
                                                                      icon_type: "fab",
                                                                      new_tab: true,
                                                                      color: "yellow" },
                                                                    { url: "javascript:(function()%7Bvar%20so%20%3D%20prompt(%22Enter%20SO%20%23%3A%22)%3Bif%20(so%20!%3D%3D%20null)%20%7Bvar%20url%20%3D%20%22http%3A%2F%2Fso.varland.com%2Fso%2F%22%20%2B%20so%20%2B%20%22.pdf%22%3Bwindow.open(url)%3B%7D%7D)()",
                                                                      title: "S.O.<br>Search",
                                                                      icon: "search",
                                                                      icon_type: "fas",
                                                                      new_tab: false,
                                                                      color: "gray" }] }

.row.mt-3.d-none
  .col-12
    = render partial: "shared/homepage_link_box", locals: { title: "Specific Shortcuts",
                                                            links: [{ url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" },
                                                                    { url: "https://mail.varland.com",
                                                                      title: request.remote_ip,
                                                                      icon: "file-excel",
                                                                      icon_type: "fas",
                                                                      new_tab: true,
                                                                      color: "green" }] }