ruby:
  calendars = [
    "src=varland.com_nvock9ocuagjfl5vmcohoq70dk%40group.calendar.google.com",
    "src=varland.com_5b96rkgpmjiqv78lntosjddbtc%40group.calendar.google.com",
    "src=varland.com_hkcr6uo9j0kdtbe996g4gsl1jo%40group.calendar.google.com",
    "src=varland.com_rl3pus4t1vatdvecl83df3pf70%40group.calendar.google.com",
    "src=varland.com_cdpf7ep8puhim669lolrbsh1cg%40group.calendar.google.com"
  ]
  colors = [
    "color=%23F1C40F",
    "color=%235B8C5A",
    "color=%232274A5",
    "color=%23E4B7E5",
    "color=%23E3655B"
  ]
  options = [
    "wkst=1",
    "bgcolor=%23ffffff",
    "ctz=America%2FNew_York",
    "showTz=0",
    "showTabs=0",
    "showDate=1",
    "showPrint=0",
    "showTitle=0"
  ]
  if current_user && current_user.employee_number >= 700
    calendars << "src=varland.com_f3arcjsh8pfcqpblnakrfdms7c%40group.calendar.google.com"
    colors << "color=%23000000"
  end
  src = "https://calendar.google.com/calendar/embed?"
  src << options.join("&")
  src << "&"
  src << calendars.join("&")
  src << "&"
  src << colors.join("&")

iframe *{src: "#{src}", style: "width: 100%; height: 100%;", frameborder: "0", scrolling: "no" }