.nested-fields.d-flex.flex-row.align-items-center.justify-content-start.mt-1
  = f.input :file, label: "File:", label: false, input_html: { class: ["form-control"] }
  = link_to_remove_association "#{fa "trash-alt"} Remove".html_safe, f, class: ["btn", "btn-sm", "btn-danger", "ms-3"], tabindex: -1