li.list-inline-item = link_to "#{icon_for_file(attachment.file)} #{attachment.name}".html_safe, rails_blob_path(attachment.file, disposition: :inline), target: "_blank", class: ["text-decoration-none", "fw-500"]