= form_with(url: url, local: true, class: ["form-inline", "bg-secondary", "text-light", "p-3", "shadow-sm"]) do |form|

  .form-group
    = form.file_field :uploads, multiple: true, class: ["form-control", "form-control-sm"], onchange: 'this.form.submit();'