/* Form utility classes. */

.check-centered {
  @extend .text-center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .form-check {
    @extend .text-center;
    @extend .p-0;
    @extend .m-0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    .form-check-input {
      float: none !important;
      margin: 0 auto !important;
    }
  }
}

.vp-gray-form {
  @extend .bg-light;
  @extend .pb-3;
  @extend .px-3;
  @extend .rounded;
  @extend .shadow-sm;
  label {
    @extend .fw-700;
    font-size: 0.85rem;
    text-transform: uppercase;
  }
  small.form-text {
    @extend .fst-italic;
  }
  .form-actions {
    @extend .align-items-center;
    @extend .d-flex;
    @extend .flex-row;
    @extend .justify-content-end;
    @extend .mt-3;
  }
}

.required {
  abbr {
    @extend .fw-700;
    @extend .text-danger;
    cursor: default !important;
    text-decoration: none !important;
  }
}