/* Default header and cell styling. */

th, td {
  @extend .align-middle;
  @extend .text-nowrap;
}

td {
  .btn + .btn,
  form + .btn,
  .btn + form {
    @extend .ms-1;
  }
  p:last-child {
    @extend .mb-0;
  }
  form {
    display: inline-block;
  }
}

.table-nonfluid {
  width: auto !important;
}

.table-striped-vertical {
  tbody {
    tr {
      td:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05) !important;
      }
    }
  }
}

tr.invalid {
  background-color: $color-red-200;
}

tr.valid {
  background-color: $color-green-100;
}

tr.past-due {
  background-color: $color-yellow-100;
}

td.invalid {
  background-color: $color-red-200 !important;
}

td.valid {
  background-color: $color-green-100 !important;
}