<h1>Editing Quality Calibration Category</h1>

<%= render 'form', quality_calibration_category: @quality_calibration_category %>

<%= link_to 'Show', @quality_calibration_category %> |
<%= link_to 'Back', quality_calibration_categories_path %>
