<h1>Editing Quality Calibration Category</h1>

<%= render 'form', quality_calibration_category: @category %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', quality_calibration_categories_path %>
