li.nav-item = primary_nav_link "tachometer-alt", "Dashboard", dashboard_projects_system_path(system)
li.nav-item = primary_nav_link "list-alt", "All Items", all_projects_system_path(system)
li.nav-item = primary_nav_link "cogs", "Admin", admin_projects_system_path(system)
li.nav-item = primary_nav_link "plus", "New Item", new_projects_item_path(system: system)