li.nav-item = primary_nav_link "list-alt", "All Employee Notes", employee_notes_url
li.nav-item = primary_nav_link "plus", "New Employee Note", new_employee_note_path
- if false
  li.nav-item = primary_nav_link "asterisk", "Instructions", "https://drive.google.com/file/d/1-Oy6X74-u4wjLLIrmL7er1h77K2OO_cL/view?usp=sharing", target: "_blank"