<h1>Editing Quality Hardness Test</h1>

<%= render 'form', quality_hardness_test: @quality_hardness_test %>

<%= link_to 'Show', @quality_hardness_test %> |
<%= link_to 'Back', quality_hardness_tests_path %>
