li.nav-item = primary_nav_link "search", "Part Search", vcms_production_part_search_path
li.nav-item = primary_nav_link "search", "Quote Search", vcms_sales_quote_search_path
li.nav-item = primary_nav_link "search", "Recent Customers", vcms_sales_recent_customers_path