@import "bootstrap";
@import '@fortawesome/fontawesome-free';

/* Import Varland utilities. */
@import "utilities/variables.scss",
        "utilities/colors.scss",
        "utilities/functions.scss",
        "utilities/fonts.scss",
        "utilities/size.scss",
        "utilities/typography.scss",
        "utilities/tables.scss",
        "utilities/forms.scss",
        "utilities/pagination.scss";

/* Base style overrides. */
html { overflow: auto; height: 100%; }
body {
  @extend .pb-3;
  height: 100%;
  overflow: auto;
  padding-top: $top-nav-height;
}
h1 {
  line-height: 1;
  margin: 0;
}

/* Primary navigation. */

#app-nav, #notifications {
  .offcanvas-header {
    @extend .lh-1;
    align-items: center !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    .title {
      font-family: GothamCondensed-Bold, sans-serif;
      font-size: 1.7rem;
      text-transform: uppercase;
    }
    button {
      @extend .bg-danger;
      @extend .rounded;
      @extend .text-white;
      border: none !important;
      outline: none !important;
      padding: 0.5rem;
    }
  }
  .offcanvas-body {
    ul {
      @extend .mb-3;
    }
    li {
      @extend .lh-1;
    }
    .header {
      @extend .fs-5;
      @extend .fw-700;
      @extend .mb-2;
      text-decoration: underline;
      text-decoration-color: $color-varland-red;
      text-decoration-thickness: 0.15em;
    }
    li + .header {
      @extend .mt-2;
    }
    a {
      align-items: center;
      color: #fff;
      display: flex;
      flex-direction: row;
      font-weight: 700;
      justify-content: flex-start;
      padding: 0.5rem 0;
      text-decoration: none;
      text-transform: uppercase;
      i, svg {
        margin-right: 0.5rem;
      }
      &:hover, &:active {
        background: lighten($bg-dark, 10%) !important;
        padding-left: 0.5rem;
      }
    }
  }
}

#primary-nav {
  .navbar-logo {
    height: 3rem;
    margin-right: 1rem;
  }
  .nav-link,
  .navbar-text {
    color: #fff !important;
    font-family: GothamCondensed-Bold, sans-serif;
    font-size: 1.7rem;
    padding-bottom: 0.15rem;
    padding-top: 0.15rem;
    text-transform: uppercase;
    .badge {
      font-size: 1rem;
      margin-left: 0.5rem;
    }
    &:hover, &:active {
      i, svg {
        color: $color-varland-red;
      }
      .label {
        text-decoration: underline;
        text-decoration-color: $color-varland-red;
        text-decoration-thickness: 0.15em;
      }
    }
    i, svg {
      margin-right: 0.25em;
    }
  }
  .navbar-text {
    cursor: default;
    i, svg {
      color: $color-varland-red;
    }
    .label {
      text-decoration: underline;
      text-decoration-color: $color-varland-red;
      text-decoration-thickness: 0.15em;
    }
  }
}

/* Flash messages. */

.flash-message {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1rem;
  .icon {
    @extend .rounded-start;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: center;
    margin: 0 1rem 0 0;
    &.flash-notice {
      @extend .bg-info;
    }
    &.flash-alert {
      @extend .bg-danger;
    }
    i, svg {
      display: block;
      margin: 0.5rem;
    }
  }
  .message {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    font-weight: 700;
    justify-content: flex-start;
    margin: 0.5rem 1rem 0.5rem 0;
    text-transform: uppercase;
  }
}

/* Buttons. */

.btn {
  font-weight: 700;
  text-transform: uppercase;
}

/* Home page links. */

.home-page-form {
  @extend .bg-danger;
  @extend .mt-3;
  @extend .rounded-pill;
  align-items: stretch;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .label {
    @extend .lh-1;
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: GothamCondensed-Bold, sans-serif;
    font-size: 1.7rem;
    justify-content: center;
    margin: 0.5rem 0.5rem 0.5rem 0;
    text-transform: uppercase;
  }
  input {
    @extend .flex-fill;
    @extend .rounded-pill;
    background: #fff !important;
    border: none !important;
    font-size: 1.5rem;
    margin: 0.5rem 0.5rem 0.5rem 0;
    outline: none !important;
    padding: 0.25rem 0.5rem;
    text-align: center;
  }
  button {
    background: none !important;
    border: none !important;
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    i, svg {
      display: block;
      margin: 1rem;
    }
  }
  .icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: center;
    margin: 0;
    i, svg {
      display: block;
      margin: 1rem;
    }
  }
}

.home-page-link {
  @extend .bg-primary;
  @extend .lh-1;
  @extend .mt-3;
  @extend .rounded-pill;
  align-items: stretch;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  text-transform: uppercase;
  &:hover, &:active {
    background-color: darken($bg-primary, 10%) !important;
    color: #fff;
  }
  .text {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: GothamCondensed-Bold, sans-serif;
    font-size: 1.7rem;
    justify-content: flex-start;
    margin: 1rem 1rem 1rem 0;
  }
  .icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: center;
    margin: 0;
    i, svg {
      display: block;
      margin: 1rem;
    }
  }
}

/* Miscellaneous */

.card-body {
  p:last-child,
  ul:last-child,
  ol:last-child {
    @extend .mb-0;
  }
  .comment + .comment {
    @extend .border-top;
    @extend .mt-2;
    @extend .pt-2;
  }
}

.promise-date {
  .orders {
    .order:nth-of-type(odd) {
      @extend .bg-light;
    }
  }
}

.bg-005 { background: rgba(0, 0, 0, 0.05) !important; }
.bg-010 { background: rgba(0, 0, 0, 0.1) !important; }

.jobs-on-receipt {
  .job:last-child {
    @extend .border-bottom;
  }
  .job:nth-of-type(odd) {
    .job-inner {
      @extend .bg-010;
    }
  }
}

mark.search-term {
  @extend .fw-700;
  @extend .text-danger;
}

.text-white-important {
  color: #fff !important;
}
.bg-black {
  background-color: #000 !important;
}

.part-search-image {
  @extend .border;
  @extend .d-block;
  @extend .p-1;
  @extend .rounded;
  @extend .shadow-sm;
  img {
    display: block;
    max-width: 100px;
  }
}

.table-cell-attachment {
  & + .table-cell-attachment {
    margin-top: 0.5rem;
  }
}

.live-highlight {
  animation: bg-highlight 60s normal;
  animation-iteration-count: 1;
  /*
  td:last-child {
    animation: font-highlight 60s normal;
    animation-iteration-count: 1;
  }
  */
}

@keyframes bg-highlight {
  0% { background-color: $color-yellow-200; }
  25% { background-color: $color-yellow-200; }
  100% { background-color: auto; }
}

.striped-rows {
  .stripable-row:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}