li.nav-item = primary_nav_link "list-alt", "Calibration Types", calibrations_calibration_types_url
li.nav-item = primary_nav_link "list-alt", "Devices", calibrations_devices_url
li.nav-item = primary_nav_link "list-alt", "Reason Codes", calibrations_reason_codes_url