li.nav-item = primary_nav_link "list-alt", "Reason Codes", quality_calibration_reason_codes_url
li.nav-item = primary_nav_link "list-alt", "Device Categories", quality_calibration_categories_url 
li.nav-item = primary_nav_link "list-alt", "Devices", quality_calibration_devices_url 
li.nav-item = primary_nav_link "list-alt", "Calibrations", quality_calibration_calibrations_url 