li.nav-item = primary_nav_link "list-alt", "All Receiving Priority Notes", shipping_receiving_priority_notes_url
li.nav-item = primary_nav_link "plus", "New Note", new_shipping_receiving_priority_note_path